<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!--Library support for validation -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
  <!-- I define -->
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var sock = "";
    var select = "";
    var socket = io.connect("<%=conf%>");
    sock = socket;
    var pond_status;
    var region_selected = <%=ponddata.region_id%>;
    var pond_status_selected = <%=ponddata.pond_status%>;
    $(document).ready(function(){
      if(pond_status_selected == true){
        pond_status = 1;
      }
      else{
        pond_status = 0;
      }
      $("input[name=pond_status][value=" + pond_status + "]").prop('checked', true);
      getAllRegionByUserId('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',function(data){
        select += "<option value='"+-1+"'>Chọn vùng</option>";
        data.forEach(function(items){
          if(items.region_id == region_selected){
            select += "<option selected value='"+items.region_id+"'>" + items.region_name+"</option>";  
          }
          else{
            select += "<option value='"+items.region_id+"'>" + items.region_name+"</option>";
          }
          
        });
        $("#region_id").html(select);
      });
    });
  </script>
</head>
<body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock);getNotification('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',0,10);countNotification(sock,'<%=userid%>');" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include partials/nav.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bảng điều khiển
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/quanly/dotuoi/themdotuoi">Cập nhật thông tin ao </a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Start main activity -->
      <div class="modal fade" tabindex="-1" id="modalNotifi" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="modal-title" id="gridSystemModalLabel"></h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <p class="DateCreated"></p>
                  <p class="RegionName"></p>
                  <p class="StationName"></p>
                  <p class="DataTypeName"></p>   
                  <p class="DataValue"></p>
                  <p class="ThresholdLevel"></p>
                  <p class="ThresholdMessage"></p>
                  <h3>Lời khuyên</h3>
                  <p class="AdviceMessage"></p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div class="padding-top-bottom"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading text-center">
                <span style="font-weight:bold;color:white;font-size:16px;">Cập nhật thông tin ao</span>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <form name="frmAo" id="frmAo" action="/quanly/ao/capnhatao" method="post">
                  <table class="table table-bordered">
                    <tr>
                      <input type="text" style="display: none;" value="<%=ponddata.pond_id%>" name="pond_id"/>
                      <td class="text-right" style="font-weight:bold;">Độ rộng:</td>
                      <td><input type="text" class="form-control" placeholder="Nhập độ rộng" value="<%=ponddata.pond_width%>" name="pond_width"/></td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Độ dài:</td>
                      <td><input type="text" class="form-control" placeholder="Nhập độ dài" value="<%=ponddata.pond_height%>" name="pond_height"/></td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Độ sâu:</td>
                      <td>
                        <input type="text" class="form-control" placeholder="Nhập độ sâu" value="<%=ponddata.pond_depth%>" name="pond_depth"/>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Địa chỉ ao:</td>
                      <td><input type="text" class="form-control" placeholder="Nhập địa chi ao" value="<%=ponddata.pond_address%>" name="pond_address"/></td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Ví trí ao:</td>
                      <td>
                        <input type="text" class="form-control" placeholder="Nhập tọa độ của ao" value="<%=ponddata.pond_location%>" name="pond_location"/>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Trạng thái của ao:</td>
                      <td>
                        <input type="radio" value="1" name="pond_status"/>Mở<br/>
                        <input type="radio" value="0" name="pond_status"/>Đóng
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Vùng:</td>
                      <td>
                        <select id="region_id" name="region_id">
                          <!-- vùng -->
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Mô tả về ao:</td>
                      <td>
                        <textarea cols="70" rows="5" name="pond_description"><%=ponddata.pond_description%></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><input type="submit" class="btn btn-info" name="btnCapNhatAo" value="Cập nhật"/></td>
                    </tr>
                  </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="footer-title main-footer">
    <div class="pull-right hidden-xs">
      <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ</a>.</strong>
  </footer>
  <% include partials/scripts.ejs %>
  <!-- Control Sidebar -->
  <% include partials/sidebar.ejs %>
</div>
<!-- ./wrapper -->
</body>
<!-- jQuery 2.2.3 -->

</html>
